model/*.pt  
frontend/node_modules/
frontend/dist/
frontend/.npm/
frontend/.eslintcache
frontend/.vite/


__pycache__/
*.py[cod]
*$py.class
backend/venv/
backend/env/
backend/.pytest_cache/
.env
/venv

.terraform/
*.tfstate
*.tfstate.backup
.DS_Store
.vscode/
.idea/
aws/terrafrom/terraform
aws/terrafrom/model.tar.gz
*.tar.gz
terraform
